# Ambiente virtual
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Datos
data/raw/*.xls
data/raw/*.zip
data/raw/*.rar
data/processed/*.parquet

# (Se permitirá la carga de la data base para no influir en la carga del repositorio)
# data/raw/*.csv
# data/raw/*.xlsx
# data/processed/*.csv


# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.log
*.tmp
*.temp